{{! Default Author Social Icons }}

<ul class="icons">
    <li><a href="http://facebook.com/faazshift" class="icon fa-facebook"></a></li>
    <li><a href="http://twitter.com/faazshift" class="icon fa-twitter"></a></li>
    <li><a href="http://plus.google.com/u/0/+BrendanWarkentin" class="icon fa-google-plus"></a></li>
</ul>
